.App {
  text-align: center;
}



/* <-------- Hexagons Start -----> */
.gallery:after {
  content: '';
}

.shadow {
  position: absolute;
  top: 500px;
  left: 100px;
  width: 500px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(#514a50, rgba(0, 0, 0, 0) 70%);
}

.shadowChap {
  position: absolute;
  width: 200px;
  height: 40px;
  border-radius: 50%;
  margin-top: 12%;
  margin-left: 32%;
  background: radial-gradient(#514a50, rgba(0, 0, 0, 0) 70%);
}



img {
  width: var(--width);
  height: var(--height);
  background-color: rgba(0, 0, 0, 0.56);
}

.clipped-border {
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  padding: 5px;
  background: linear-gradient(grey, lightgrey);
  max-height: 250px;
  max-width: 250px;
  height: 250px;
  width: 250px;
  transition: transform 0.2s;
  position: absolute;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));

}



.clipped-border:before {
  content: '';
  position: absolute;
  opacity: 0.5;
  width: 200px;
  height: 70px;
  background: white;
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotate(45deg);
  transition: transform 0.5s;
}

.clipped-border:hover:before {
  transform: translate(-100px, 400%) rotate(45deg);
  transition: transform 0.5s;
}

.clipped-border:nth-child(2) {
  top: 196px;
  left: 118px;
}

.clipped-border:nth-child(3) {
  top: 0;
  left: 235px;
}

.clipped-border:nth-child(4) {
  top: 196px;
  left: 353px;
}

.clipped-border:nth-child(5) {
  top: 0;
  left: 470px;
}

#clipped {
  clip-path: polygon(50% -13%, 113% 33%, 114% 83%, 49% 100%, 0% 62%, -31% 21%);
}

.clipped-border:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
  z-index: 10;
}


@media screen and (max-width:500px) {
  .clipped-border {
    width: 100px;
    height: 100px;
  }

  .clipped-border:nth-child(2) {
    top: 0;
    left: 100px;
  }

  .clipped-border:nth-child(3) {
    left: 200px;
  }

  .clipped-border:nth-child(4) {
    top: 82px;
    left: 50px;
  }

  .clipped-border:nth-child(5) {
    top: 82px;
    left: 150px;
  }
}

/* <-------- Hexagons End -----> */



/* <--- FONT START ----> */
@font-face {
  font-family: honeyFont;
  src: url("../src/assets/fonts/pieces-nfi-font/PiecesNfi-LrOn.ttf")
}

@font-face {
  font-family: muliFont;
  src: url("../src/assets/fonts/muli/Muli-Light.ttf")
}

@font-face {
  font-family: moonFont;
  src: url("../src/assets/fonts/MoonTypeface/Moon\ Light.otf")
}

@font-face {
  font-family: heroFont;
  src: url("../src/assets/fonts/junegull/junegull.ttf")
}

/* <--- FONT END ----> */














/* <---------------------------- HERO START -------------------------> */

.heroContainer {
  width: 100%;
  height: 100vh;
  position: relative;
}

.heroContainer video {
  width: 100%;
  height: 100%;
}

.text-box {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(4, 4, 4);
  /* height: 100%; */
  width: 100%;
  color: #fff;
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  font-size: 200px;
  mix-blend-mode: multiply;
  font-family: heroFont;
}

.heroBottom {
  margin-top: -300px;
}


/* <------------------------ HERO END -----------------------> */















/* <---------------------------- NAV START -------------------------> */
.wholeNav {
  z-index: 2;
  position: relative;
}

.bottomNav {
  background-color: #e2ad22 !important;
}

/* // navbar width // */
.css-qxh7fn {
  width: 100%;
}

.navLabel {
  opacity: 1 !important;
}

/* <----------------------------------------- NAV END ------------------------------> */

















/* <--------------------------------- PRODUCT PAGE START ------------------------------> */
.section {
  height: 100vh;
  display: flex;
  background-color: rgb(4, 4, 4);

}

.ourProduct {
  margin-bottom: 30px;
  font-family: Oswald, sans-serif;
  font-size: 95px !important;
  line-height: 60px;
  font-weight: 700;
  text-align: left;
  color: #fff;
  font-family: moonFont;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0% 10%;
}


.sectionLeft {
  position: relative;
  height: auto;
  margin-left: 10%;
  margin-top: 7%;
}

.sectionRight {
  right: 0;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 30px;
  font-weight: 400;
}


.productLine {
  width: 85px;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffcd4c;
}

.productText {
  width: 70%;
  max-width: 1100px;
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 0;
  font-family: Oswald, sans-serif;
  color: #f5f5f5;
  font-size: 30px;
  line-height: 32px;
  font-weight: 100;
  text-align: justify;
}

.productLine.ver {
  width: 1px;
  height: 150px;
  margin-left: 15px;
  background-color: #ffcd4c;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.productButton {
  width: 134px;
  margin: 0 10px 0 0;
  padding: 6px 5px;
  background-color: #ffcd4c;
  color: #333;
  text-align: center;
  text-decoration: none;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.gallery {
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-left: 250px;
  margin-top: 240px;
  height: 450px;
  width: 65%;
  transform: scale(1.1) !important;
}

.gallery img {
  width: 249px;
  height: 277px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  filter: grayscale(40%);
}

.gallery img:hover {
  width: 300px;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  filter: brightness(100%);
}

.chapstickImage {
  width: auto !important;
  height: 350px !important;
  margin-top: 10%;
  margin-left: 40%;
}


/* <------------------------------------- PRODUCT PAGE END ------------------------------> */




























/* <------------------------------ CONTACT START ------------------------> */
#Contact {
  background-color: #725e39;
  height: 100vh !important;
  background-image: linear-gradient(rgba(39, 42, 59, 0.6) 100%, transparent 0), url('../src/assets/images/HeroImage.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: moonFont;
  color: white;
  font-size: 4vh;
  padding: 5%;
  margin: auto;
}

label {
  color: white;
  font-family: muliFont;
  padding: 15px;
}

input {
  width: 20vw;
  height: 3vh;
}

textarea {
  width: 25vw;
  height: 3vh;
}


/* CSS */
.btn {
  appearance: button;
  background-color: #181924;
  background-image: none;
  border: 1px solid #181924;
  border-radius: 4px;
  box-shadow: #725e3a 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-family: moonFont;
  margin-top: 20px;
}

.btn:focus {
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.btn:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.btn:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .btn {
    padding: 12px 50px;
  }
}

/* <------------------- CONTACT END ------------------------> */








/* <--------------------- MEDIA QUERIES START --------------------> */
@media screen and (max-width: 479px) {


  .heroContainer {
    position: relative;

  }

  .heroContainer video {
    width: 100vw !important;
    height: 100vh !important;
  }

  .text-box {
    position: absolute;
    height: 100vh !important;
    width: 100vw !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    font-size: 45px !important;
  }

  .heroBottom {
    position: relative;
    margin-top: -30px;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center;
  }

  h1 {
    font-size: 40px !important;
    padding-bottom: 0% !important;
  }

  .section {
    flex-direction: column;
    height: auto;
  }

  .split {
    height: initial;
    width: 100%;
  }

  .galleryContainer {
    align-items: center;
  }

  .gallery img {
    width: 125px;
    height: 135px;
  }

  .btn {
    appearance: button;
    background-color: #181924;
    background-image: none;
    border: 1px solid #181924;
    border-radius: 11px;
    box-shadow: #725e3a 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 3px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 11px 26px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    font-family: moonFont;
    margin-top: 20px;
  }

  input {
    width: 40vw;
  }

  textarea {
    width: 50vw;
  }
}

@media screen and (max-width: 769px) {

  .heroContainer {
    position: relative;

  }

  .heroBottom{
    padding: 5%;
  }

  .heroContainer video {
    width: 100vw !important;
    height: 100vh !important;
  }

  h1 {
    font-size: 60px;
    padding-bottom: 30%;
  }

  .text-box {
    position: absolute;
    height: 100vh !important;
    width: 100vw !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    font-size: 75px !important;
  }

  .section {
    flex-direction: column;
    height: auto;
  }

  .split {
    height: initial;
    width: 100%;
  }



  .gallery img {
    width: 160px;
    height: 181px;
  }

  .clipped-border {
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    padding: 5px;
    background: linear-gradient(grey, lightgrey);
    max-height: 150px;
    max-width: 150px;
    height: 250px;
    width: 250px;
    transition: transform 0.2s;
    position: absolute;
    cursor: pointer;
    overflow-x: hidden;
  }

  .clipped-border:before {
    content: '';
    position: absolute;
    opacity: 0.2;
    width: 194px;
    height: 25px;
    background: white;
    top: 0;
    left: 0;
    z-index: 1;
    transform: rotate(45deg);
    transition: transform 0.5s;
  }

  .clipped-border:nth-child(1) {
    top: 121px;
    left: 174px;
  }

  .clipped-border:nth-child(2) {
    top: 0px;
    left: 100px;
  }

  .clipped-border:nth-child(3) {
    top: 0;
    left: 246px;
  }

  .clipped-border:nth-child(4) {
    top: 121px;
    left: 319px;
  }

  .clipped-border:nth-child(5) {
    top: 0;
    left: 392px;
  }
}




@media screen and (max-width: 1024px) {

  .heroContainer {
    position: relative;

  }

  .heroContainer video {
    width: 100vw !important;
    height: 100vh !important;
  }

  .heroBottom{
    padding: 10%;
  }

  .text-box {
    position: absolute;
    height: 100vh !important;
    width: 100vw !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    font-size: 100px !important;
  }

  .split {
    height: initial;
    width: 100%;
  }

  .gallery {
    width: 100%;
  }

  .ourProduct{
    font-size: 41px !important;
  }

  .productText{
    font-size: 14px;
    line-height: 20px;
  }

  .productLine {
    position: relative;
    width: 30px;
    bottom: 40px !important;
  }

  .productLine.ver {
    height: 50px;
    margin-left: 0px;
    top: -10px;
  }

  .section {
        padding-top: 40%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1300px) {

  .heroContainer {
    position: relative;
  }

  .heroContainer video {
    width: 100vw !important;
    height: 100vh !important;
  }

  .heroBottom {
    padding: 10%;
  }

  .text-box {
    position: absolute;
    height: 100vh !important;
    width: 100vw !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    font-size: 120px !important;
  }

  .ourProduct {
    font-size: 50px !important;
  }

  .productText {
    font-size: 15px !important;
    line-height: 20px;
  }

  .productLine{
    width: 45px;
    height: 3px;
    background-color: #ffcd4c;
    position: relative;
    bottom: 31px
}
  

.productLine.ver {
  width: 1px;
  height: 50px;
  margin-top: 36px;
  margin-left: 0px;
  background-color: #ffcd4c;
  transform: rotate(0);
}

  .clipped-border {
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    padding: 5px;
    background: linear-gradient(grey, lightgrey);
    max-height: 150px;
    max-width: 150px;
    height: 250px;
    width: 250px;
    transition: transform 0.2s;
    position: absolute;
    cursor: pointer;
  }

  .clipped-border:nth-child(1) {
    top: 121px;
    left: 174px;
  }

  .clipped-border:nth-child(2) {
    top: 0px;
    left: 100px;
  }

  .clipped-border:nth-child(3) {
    top: 0;
    left: 246px;
  }

  .clipped-border:nth-child(4) {
    top: 121px;
    left: 319px;
  }

  .clipped-border:nth-child(5) {
    top: 0;
    left: 392px;
  }

  .shadow {
    top: 350px;
    left: 225px;
    width: 35%;
  }

  .gallery img {
    width: 157px;
    height: 181px;
  }

  .gallery {
    width: 100%;
  }

  .containerGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}





@media screen and (min-width: 1300px) {

  .heroContainer {
    position: relative;
  }

  .heroContainer video {
    width: 100vw !important;
    height: 100vh !important;
  }


  .text-box {
    position: absolute;
    height: 100vh !important;
    width: 100vw !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    font-size: 175px !important;
  }

  .ourProduct {
    margin-bottom: 30px;
    font-size: 65px !important;
    line-height: 60px;
  }

  .productLine{
    width: 45px;
    height: 3px;
    background-color: #ffcd4c;
    position: relative;
    bottom: 31px
}
  

.productLine.ver {
  width: 1px;
  height: 50px;
  margin-top: 36px;
  margin-left: 0px;
  background-color: #ffcd4c;
  transform: rotate(0);
}
}

/* <--------- MEDIA query end -----------> */















































/* ------ HEXAGON SHAPE SIZING FOR QUERIES-------------- */

@media screen and (max-width: 2600px) {
  .sectionLeft {
    position: relative;
    height: auto;
  }

  .gallery {
    transform: scale(.9) translateX(-49%);
    position: absolute;
    left: 43%;
    width: 647px;
  }

  .clipped-border:before {
    opacity: .1;
    width: 340px;
    height: 52px;
  }
}

@media screen and (max-width: 2200px) {
  .sectionLeft {
    position: relative;
    height: auto;
  }



  .gallery {
    transform: scale(.8) translateX(-49%);
    position: absolute;
    left: 37%;
    width: 647px;
  }

  .clipped-border:before {
    opacity: .1;
    width: 340px;
    height: 52px;
  }
}

@media screen and (max-width: 1880px) {
  .sectionLeft {
    position: relative;
    height: auto;
  }

  .gallery {
    transform: scale(.7) translateX(-49%);
    position: absolute;
    left: 37%;
    width: 647px;
  }

  .clipped-border:before {
    opacity: .1;
    width: 340px;
    height: 52px;
  }
}

@media screen and (max-width: 1680px) {
  .sectionLeft {
    position: relative;
    height: 800px;
  }

  .gallery {
    transform: scale(.7) translateX(-49%) !important;
    position: absolute;
    margin-left: 30% !important;
    margin-top: 10% !important;
    width: 647px;
  }

  .clipped-border:before {
    opacity: .1;
    width: 340px;
    height: 52px;
  }
}


@media screen and (max-width: 1300px) {
  .gallery {
    transform: scale(0.4);
    left: 25% !important;
    width: 547px;
    padding-top: 30%;
  }
}

@media screen and (max-width: 1200px) {
  .gallery {
    transform: scale(0.2);
    left: 25% !important;
    width: 547px;
    padding-top: 30%;
  }
}

@media screen and (max-width: 1180px) {
  .gallery {
    transform: scale(0.65);
    left: 25% !important;
    width: 547px;
    padding-top: 30%;
  }

  .clipped-border {
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    padding: 5px;
    background: linear-gradient(grey, lightgrey);
    max-height: 150px;
    max-width: 150px;
    height: 250px;
    width: 250px;
    transition: transform 0.2s;
    position: absolute;
    cursor: pointer;
    bottom: 495px;
    left: 174px;
}

  .clipped-border:before {
    opacity: .1;
    width: 340px;
    height: 52px;
  }
}

@media screen and (max-width: 1024px) {
  .sectionLeft {
    position: relative;
    height: 850px;
  }

  .gallery {
    transform: scale(.7) translateX(-49%) !important;
    position: absolute;
    width: 547px;
  }

  .shadow {
    top: 550px;
    left: 250px;
    width: 43%;
  }

  .clipped-border:before {
    opacity: .1;
    width: 340px;
    height: 52px;
  }
}

@media screen and (max-width: 825px) {
  .gallery {
    transform: scale(0.5) translateX(-73%);

  }

  .shadow {
    top: 350px;
    left: 203px;
    width: 43%;
  }

}


@media screen and (max-width: 525px) {
  .gallery {
    transform: scale(0.7) translateX(-73%);
  }

  .shadow {
    top: 350px;
    left: 203px;
    width: 43%;
  }

  .clipped-border {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 479px) {
  .gallery {
    transform: scale(0.7) translateX(-73%);
    left: 25% !important;
  }

  .shadow {
    top: 330px;
    left: 200px;
    width: 43%;
  }

  .clipped-border {
    overflow-x: hidden;
  }
}


@media screen and (max-width: 2600px) {
  .sectionLeft {
    position: relative;
    height: auto;
  }

  .gallery {
    transform: scale(.9) translateX(-49%);
    position: absolute;
    left: 43%;
    width: 647px;
  }

}

@media screen and (max-width: 2200px) {
  .sectionLeft {
    position: relative;
    height: auto;
  }

  .gallery {
    transform: scale(.8) translateX(-49%);
    position: absolute;
    left: 37%;
    width: 647px;
  }

}

@media screen and (max-width: 1880px) {
  .sectionLeft {
    position: relative;
    height: auto;
  }

  .gallery {
    transform: scale(.8) translateX(-49%);
    position: absolute;
    left: 37%;
    width: 647px;
  }

}

@media screen and (max-width: 1680px) {
  .sectionLeft {
    position: relative;
    height: auto;
  }

  .gallery {
    transform: scale(.7) translateX(-49%);
    position: absolute;
    left: 30%;
    width: 647px;
  }

}

@media screen and (max-width: 1180px) {
  .gallery {
    transform: scale(1);
    left: -15%;
    width: 547px;
  }
}

@media screen and (max-width: 1024px) {
  .sectionLeft {
    position: relative;
    height: 850px;
  }

  .gallery {
    transform: scale(1) translateX(-49%);
    position: absolute;
    left: 44%;
    width: 547px;
  }

  .clipped-border:nth-child(3) {
    top: 0;
    left: 300px;
}

.clipped-border:nth-child(5) {
  top: 0;
  left: 447px;
}

.clipped-border {
  bottom: 546px;
  left: 154px;
}

.clipped-border:nth-child(4) {
  top: 123px;
  left: 374px;
}

.clipped-border:nth-child(2) {
  top: 123px;
  left: 227px;
}


}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .gallery {
    transform: scale(0.7) translateX(-73%);
  }
}

@media screen and (max-width: 525px) {
  .gallery {
    transform: scale(0.7) translateX(-73%);
  }
}

@media screen and (max-width: 479px) {
  .gallery {
    transform: scale(0.7) translateX(-73%);
  }

  .sectionLeft {
    position: relative;
    height: 650px;
  }

}

/* <--------------------- MEDIA QUERIES END --------------------> */





















/* -----------------Animated Circles START-------------------- */

.circles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(96, 183, 199, 0.1);
  animation: animate 1s linear infinite;
  bottom: calc(100px - 40vh);
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 25s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: #ffcd4c;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 30s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: #ffcd4c;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 25s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: #ffcd4c;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 20s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: #ffcd4c;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 25s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: #ffcd4c;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 90px;
  height: 90px;
  animation-delay: 0s;
  animation-duration: 30s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: #ffcd4c;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 35s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: #ffcd4c;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 0s;
  animation-duration: 40s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: #ffcd4c;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 0s;
  animation-duration: 45s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: #ffcd4c;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 45s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: #ffcd4c;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }

  50% {
    transform: translateY(-60vh) rotate(360deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-120vh) rotate(720deg);
    opacity: 0;
  }
}

/* -----------------Animated Circles END-------------------- */