.App {
  text-align: center;
}

.wholeNav {
  position: relative;
  z-index: 1000;
  width: 100%;
}

.chapstickgallery {
  position: relative;
  height: 450px;
  width: 100%;
  margin-top: 25%;
  margin-left: 10%

}

.chapstickgallery img {
  width: 300px;
  height: 300px;
}

.gallery:after {
  content: '';
}

.shadow{
  position: absolute;
  top: 500px;
  left: 100px;
  width: 500px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(#514a50,rgba(0,0,0,0) 70%);
}



img {
  width: var(--width);
  height: var(--height);
}

.clipped-border {
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  padding: 5px;
  background: linear-gradient(grey, lightgrey);
  max-height: 250px;
  max-width: 250px;
  height: 250px;
  width: 250px;
  transition: transform 0.2s;
  position: absolute;
  cursor: pointer;
}



.clipped-border:before {
  content: '';
  position: absolute;
  opacity: 0.5;
  width: 350px;
  height: 70px;
  background: white;
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotate(45deg);
  transition: transform 0.5s;
}

.clipped-border:hover:before {
  transform: translate(-100px, 400%) rotate(45deg);
  transition: transform 0.5s;
}

.clipped-border:nth-child(2) {
  top: 196px;
  left: 118px;
}

.clipped-border:nth-child(3) {
  top: 0;
  left: 235px;
}

.clipped-border:nth-child(4) {
  top: 196px;
  left: 353px;
}

.clipped-border:nth-child(5) {
  top: 0;
  left: 470px;
}

#clipped {
  clip-path: polygon(50% -13%, 113% 33%, 114% 83%, 49% 100%, 0% 62%, -31% 21%);
}

.clipped-border:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
  z-index: 10;
}


@media screen and (max-width:500px) {
  .clipped-border {
    width: 100px;
    height: 100px;
  }

  .clipped-border:nth-child(2) {
    top: 0;
    left: 100px;
  }

  .clipped-border:nth-child(3) {
    left: 200px;
  }

  .clipped-border:nth-child(4) {
    top: 82px;
    left: 50px;
  }

  .clipped-border:nth-child(5) {
    top: 82px;
    left: 150px;
  }
}




/* <--- FONT START ----> */
@font-face {
  font-family: honeyFont;
  src: url("../src/assets/fonts/pieces-nfi-font/PiecesNfi-LrOn.ttf")
}

@font-face {
  font-family: muliFont;
  src: url("../src/assets/fonts/muli/Muli-Light.ttf")
}

@font-face {
  font-family: moonFont;
  src: url("../src/assets/fonts/MoonTypeface/Moon\ Light.otf")
}



/* <--- FONT END ----> */




.App-link {
  color: #61dafb;
}


/* <----------- HERO START ------------> */
.hero-container {
  padding: 250px;
  padding-bottom: 50px;
  
}

.hero-image {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-image:after,
.hero-image:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: center/cover no-repeat;
  background-image:
    linear-gradient(rgba(39, 42, 59, 0.6) 100%, transparent 0),
    linear-gradient(303deg, rgba(255, 255, 255, 9.7) 50%, transparent 0),
    url('../src/assets/images/HeroImage.svg');
  overflow: hidden;
}

.heroGerkeApiaries {
  z-index: 1;
  color: white;
  position: relative;
  font-size: 4rem;
  overflow-y: hidden !important;
  font-family: moonFont;
  margin: -1rem;


}

.heroHoneyChapstick {
  z-index: 1;
  color: white;
  position: relative;
  top: 10px;
  left: 5px;
  font-size: 2.5rem;
  overflow: hidden !important;
  font-family: moonFont;
  margin: 1rem;
}

.heroSmallText {
  z-index: 1;
  color: white;
  position: relative;
  font-size: 1.5rem;
  overflow: hidden !important;
  font-family: muliFont;
 
}

/* <----------- HERO END ------------> */












/* <----------- HONEY START ------------> */




.imageSide {
  height: 100vh;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,53,53,0.6069021358543417) 5%, rgba(255,255,255,1) 100%);
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;

}

/* Control the left side */
.left {
  left: 0;
  background-color: #d1622a;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #d1622a;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}




/* <----------- HONEY END ------------> */



.honeyText {
  font-family: honeyFont;
  color:#eda342;
  font-size: 4rem;
}

.honeyP {
  color: #efeaca;
  position: relative;
  font-size: 1.25rem;
  overflow: hidden !important;
  font-family: muliFont;
}











/* <----------- CHAPSTICK START ------------> */
/* Control the left side */
.chapstickleft {
  left: 0;
  background-color: #bbdbb6;
}

/* Control the right side */
.chapstickright {
  right: 0;
  background-color: #bbdbb6;
}

.chapstickP {
  color: #efeaca;
  position: relative;
  font-size: 1.25rem;
  overflow: hidden !important;
  font-family: muliFont;
}

.chapstickText {
  font-family: moonFont;
  color: #efeacb;
  font-size: 4rem;
}

.chapstickIcon {
  height: 100px;
  width: 100px;
}


/* <----------- CHAPSTICK END ------------> */