.App {
  text-align: center;
}

.wholeNav {
  z-index: 2;
  position: relative;

}

.navBar {
  background-color: #e2ad22 !important;

}

/* // navbar width // */
.css-qxh7fn {
  width: 100%;
  
}

.css-1t2cg5g-MuiBottomNavigation-root {
  background-color: burlywood !important;
}


/* <-------- BUTTON START --------> */

/* CSS */
.button-74 {
  position: relative;
  width: 20%;
  height: 10%;
  margin-top: 80%;
  margin-left: 40%;
  margin-bottom: 0;
  background-color: #efeaca;
  border: 2px solid #eda342;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}


/* <-------- BUTTON START --------> */













/* <-------- Hexagons Start -----> */
.gallery:after {
  content: '';
}

.shadow {
  position: absolute;
  top: 500px;
  left: 100px;
  width: 500px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(#514a50, rgba(0, 0, 0, 0) 70%);
}



img {
  width: var(--width);
  height: var(--height);
}

.clipped-border {
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  padding: 5px;
  background: linear-gradient(grey, lightgrey);
  max-height: 250px;
  max-width: 250px;
  height: 250px;
  width: 250px;
  transition: transform 0.2s;
  position: absolute;
  cursor: pointer;
}



.clipped-border:before {
  content: '';
  position: absolute;
  opacity: 0.5;
  width: 350px;
  height: 70px;
  background: white;
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotate(45deg);
  transition: transform 0.5s;
}

.clipped-border:hover:before {
  transform: translate(-100px, 400%) rotate(45deg);
  transition: transform 0.5s;
}

.clipped-border:nth-child(2) {
  top: 196px;
  left: 118px;
}

.clipped-border:nth-child(3) {
  top: 0;
  left: 235px;
}

.clipped-border:nth-child(4) {
  top: 196px;
  left: 353px;
}

.clipped-border:nth-child(5) {
  top: 0;
  left: 470px;
}

#clipped {
  clip-path: polygon(50% -13%, 113% 33%, 114% 83%, 49% 100%, 0% 62%, -31% 21%);
}

.clipped-border:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
  z-index: 10;
}


@media screen and (max-width:500px) {
  .clipped-border {
    width: 100px;
    height: 100px;
  }

  .clipped-border:nth-child(2) {
    top: 0;
    left: 100px;
  }

  .clipped-border:nth-child(3) {
    left: 200px;
  }

  .clipped-border:nth-child(4) {
    top: 82px;
    left: 50px;
  }

  .clipped-border:nth-child(5) {
    top: 82px;
    left: 150px;
  }
}

/* <-------- Hexagons End -----> */



/* <--- FONT START ----> */
@font-face {
  font-family: honeyFont;
  src: url("../src/assets/fonts/pieces-nfi-font/PiecesNfi-LrOn.ttf")
}

@font-face {
  font-family: muliFont;
  src: url("../src/assets/fonts/muli/Muli-Light.ttf")
}

@font-face {
  font-family: moonFont;
  src: url("../src/assets/fonts/MoonTypeface/Moon\ Light.otf")
}
/* <--- FONT END ----> */














/* <----------- HERO START ------------> */
.hero-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 80%;
  padding-bottom: 20%;
  padding-right: 10% !important;
}

.hero-image {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-image:after,
.hero-image:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: center/cover no-repeat;
  background-image:
    linear-gradient(rgba(39, 42, 59, 0.6) 100%, transparent 0),
    linear-gradient(303deg, rgba(255, 255, 255, 9.7) 50%, transparent 0),
    url('../src/assets/images/HeroImage.svg');
  overflow: hidden;
}

.heroGerkeApiaries {
  z-index: 1;
  color: white;
  position: relative;
  font-size: 4rem;
  overflow-y: hidden !important;
  font-family: moonFont;
  margin: -1rem;


}

.heroHoneyChapstick {
  z-index: 1;
  color: white;
  position: relative;
  font-size: 2.5rem;
  overflow: hidden !important;
  font-family: moonFont;
  margin: -1rem;
  padding-left: 75px;
}

.heroSmallText {
  z-index: 1;
  color: white;
  position: relative;
  font-size: 1.5rem;
  overflow: hidden !important;
  font-family: muliFont;
  padding-left: 12%;
}

/* <----------- HERO END ------------> */






/* <----------- OnEveryPage Start ------------> */

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}


.bigIcon {
  height: 150px;
  width: 150px;
}



.gallery {
  position: relative;
  height: 450px;
  width: 65%;
  transform: scale(0.85);
  /* margin-top: 5%;
  margin-left: 15%; */
}

.gallery img {
  width: 300px;
  height: 300px;
}

.detailsP {
  color: white;
  position: relative;
  font-size: 1.75rem;
  overflow: hidden !important;
  font-family: muliFont;
  padding-bottom: 10%;
}

.detailsTop {
  color: #efeaca;
  position: relative;
  font-size: 1.5rem;
  overflow: hidden !important;
  font-family: muliFont;
  width: 45rem;
  text-align: center;
}

.containerTextTop {
display: flex;
flex-direction: column;
align-items: center;
  color: #eda342;
  padding-top: 5%;
}

.naturalIcon {
  width: 50px;
}

/* <----------- OnEveryPage End ------------> */







/* <----------- HONEY START ------------> */
.honeySection {
  height: 100vh;
  display: flex;
}

.honeyText {
  font-family: honeyFont;
  color: #eda342;
  font-size: 7rem;
  text-align: center;
}

.honeyLeft {
  left: 0;
  background-color: #d1622a !important;
  overflow-x: visible;
  z-index: 2;
}


.honeyRight {
  right: 0;
  background-color: #d1622a !important;
  
}

.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0% 10%;
}


/* <----------- HONEY END ------------> */



















/* <----------- CHAPSTICK START ------------> */
/* Control the left side */
.chapstickLeft {
  left: 0;
  background-color: #bbdbb6;
}

/* Control the right side */
.chapstickRight {
  right: 0;
  background-color: #bbdbb6;
}



.chapstickText {
  font-family: moonFont;
  color: #efeacb;
  font-size: 4rem;
  
}





/* <----------- CHAPSTICK END ------------> */








/* <----------- BEES START ------------> */




/* <----------- BEES END ------------> */



/* <--------------------- MEDIA QUERIES START --------------------> */
@media screen and (max-width: 479px) {
  .hero-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-bottom: 70%;
    padding-right: 13%;
}



.heroGerkeApiaries {
  font-size: 6vw;
 
}

.heroSmallText {
  font-size: 2vw;
  padding: 4%;
}

.heroHoneyChapstick {
  font-size: 5vw;

}

.honeySection {
  flex-direction: column;
  height: auto;
}

.split {
  height: initial;
  width: 100%;
}

.galleryContainer {
  align-items: center;
}


.containerTextTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.naturalIcon {
  width: 30px;
}

.detailsTop {
  color: #efeaca;
  position: relative;
  font-size: 1.25rem;
  overflow: hidden !important;
  font-family: muliFont;
  width: 60vw;
  text-align: center;
}

.shadow {
  position: absolute;
  top: 200px;
  left: 35%;
  width: 34%;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(#514a50, rgba(0, 0, 0, 0) 70%);
  transform: translateX(-50%);
  padding-top: 1%;
}


.bigIcon {
  height: 100px;
  width: 100px;
}

.honeyText {
  padding: 8%;
  font-size: 10vw;
}

.detailsP {
  color: white;
  font-size: 1.25rem;
  
}


.gallery img {
  width: 125px;
  height: 125px;
}

.detailsP {
  color: white;
  font-size: 1rem;
  padding-bottom: 25%;
}

.chapstickLeft {
  
  background-color: #bbdbb6;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

/* .gallery {
  width: 100%;
  margin: 0% !important;
} */

}
  

@media screen and (max-width: 769px) {
  .honeySection {
    flex-direction: column;
    height: auto;
  }
  
  .split {
    height: initial;
    width: 100%;
  }

  .gallery {
    position: relative;
    height: 270px;
    /* margin: 0% !important; */
  
}

.gallery img {
  width: 160px;
  height: 181px;
}

.galleryContainer {
  align-items: center;
}

.detailsTop {
  color: #efeaca;
  position: relative;
  font-size: 1.25rem;
}

.detailsP {
  font-size: 1.25rem;
padding-bottom: 20%;
}

.bigIcon {
  height: 100px;
  width: 100px;
  padding-top: 5%
}

.honeyText {
  font-size: 4rem;
}

.clipped-border {
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  padding: 5px;
  background: linear-gradient(grey, lightgrey);
  max-height: 150px;
  max-width: 150px;
  height: 250px;
  width: 250px;
  transition: transform 0.2s;
  position: absolute;
  cursor: pointer;
}

.clipped-border:nth-child(1) {
  top: 121px;
  left: 174px;
}

.clipped-border:nth-child(2) {
  top: 0px;
  left: 100px;
}

.clipped-border:nth-child(3) {
top: 0;
left: 246px;
}

.clipped-border:nth-child(4) {
top: 121px;
left: 319px;
}

.clipped-border:nth-child(5) {
top: 0;
left: 392px;
}

}




@media screen and (max-width: 1024px) {
  .honeySection {
    flex-direction: column;
    height: auto;
  }
  
  .split {
    height: initial;
    width: 100%;
  }

  .gallery {
    width: 100%;
    /* margin-left: 50%;
    margin-right: 50%; */
}

.detailsTop {
  color: #efeaca;
  position: relative;
  font-size: 1.25rem;
}

.detailsP {
  font-size: 1.25rem;
padding-bottom: 20%;
}

.bigIcon {
  height: 100px;
  width: 100px;
  padding-top: 5%
}

.honeyText {
  font-size: 4rem;
}




}

@media screen and (max-width: 1025px) and (max-width: 2200px) {
  .clipped-border {
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    padding: 5px;
    background: linear-gradient(grey, lightgrey);
    max-height: 150px;
    max-width: 150px;
    height: 250px;
    width: 250px;
    transition: transform 0.2s;
    position: absolute;
    cursor: pointer;
  }
  
  .clipped-border:nth-child(1) {
    top: 121px;
    left: 174px;
}
  
  .clipped-border:nth-child(2) {
    top: 0px;
    left: 100px;
}

.clipped-border:nth-child(3) {
  top: 0;
  left: 246px;
}

.clipped-border:nth-child(4) {
  top: 121px;
  left: 319px;
}

.clipped-border:nth-child(5) {
  top: 0;
  left: 392px;
}

.shadow {
  top: 350px;
  left: 225px;
  width: 35%;
}

.gallery img {
  width: 157px;
  height: 181px;
}

.naturalIcon {
  width: 50px;
}

.detailsTop {
  font-size: 1.5rem;
}

.honeyText {
  font-size: 4rem;
}

.detailsP {
  font-size: 1.35rem;
}

.bigIcon {
  height: 100px;
  width: 100px;
}

.containerTextTop{
  padding: 10%;
}

.gallery {
  width: 100%;
  /* margin-right: 15% !important; */
}

.containerGallery{
  display: flex;
flex-direction: column;
align-items: center;
}
}



@media screen and (max-width: 2600px) {
  .chapstickLeft {
    position: relative;
    height: auto;
  }
  .gallery {
    transform: scale(.9) translateX(-49%);
    position: absolute;
    left: 43%;
    width: 647px;
    /* width: 400px; */
  }

}

@media screen and (max-width: 2200px) {
  .chapstickLeft {
    position: relative;
    height: auto;
  }
  .gallery {
    transform: scale(.8) translateX(-49%);
    position: absolute;
    left: 37%;
    width: 647px;
    /* width: 400px; */
  }

}

@media screen and (max-width: 1880px) {
  .chapstickLeft {
    position: relative;
    height: auto;
  }
  .gallery {
    transform: scale(.8) translateX(-49%);
    position: absolute;
    left: 37%;
    width: 647px;
    /* width: 400px; */
  }

}

@media screen and (max-width: 1680px) {
  .chapstickLeft {
    position: relative;
    height: auto;
  }
  .gallery {
    transform: scale(.7) translateX(-49%);
    position: absolute;
    left: 30%;
    width: 647px;
    /* width: 400px; */
  }

}

@media screen and (max-width: 1180px) {
  .gallery {
    transform: scale(0.65);
    left: -15%;
    width: 547px;
  }
}

@media screen and (max-width: 1024px) {
  .honeyLeft {
    position: relative;
    height: 850px;
  }
  .gallery {
    transform: scale(1) translateX(-49%);
    position: absolute;
    left: 44%;
    width: 547px;
    /* width: 400px; */
  }
}


@media screen and (max-width: 525px) {
  .gallery {
    transform: scale(0.7) translateX(-73%);
  }
}

@media screen and (max-width: 479px) {
  .gallery {
    transform: scale(0.7) translateX(-73%);
  }
  .shadow {
    top: 350px;
    left: 333px;
    width: 43%;
}
}


@media screen and (max-width: 2600px) {
  .honeyLeft {
    position: relative;
    height: auto;
  }
  .gallery {
    transform: scale(.9) translateX(-49%);
    position: absolute;
    left: 43%;
    width: 647px;
    /* width: 400px; */
  }

}

@media screen and (max-width: 2200px) {
  .honeyLeft {
    position: relative;
    height: auto;
  }
  .gallery {
    transform: scale(.8) translateX(-49%);
    position: absolute;
    left: 37%;
    width: 647px;
    /* width: 400px; */
  }

}

@media screen and (max-width: 1880px) {
  .honeyLeft {
    position: relative;
    height: auto;
  }
  .gallery {
    transform: scale(.8) translateX(-49%);
    position: absolute;
    left: 37%;
    width: 647px;
    /* width: 400px; */
  }

}

@media screen and (max-width: 1680px) {
  .honeyLeft {
    position: relative;
    height: auto;
  }
  .gallery {
    transform: scale(.7) translateX(-49%);
    position: absolute;
    left: 30%;
    width: 647px;
    /* width: 400px; */
  }

}

@media screen and (max-width: 1180px) {
  .gallery {
    transform: scale(0.65);
    left: -15%;
    width: 547px;
  }
}

@media screen and (max-width: 1024px) {
  .honeyLeft {
    position: relative;
    height: 850px;
  }
  .gallery {
    transform: scale(1) translateX(-49%);
    position: absolute;
    left: 44%;
    width: 547px;
    /* width: 400px; */
  }
}


@media screen and (max-width: 525px) {
  .gallery {
    transform: scale(0.7) translateX(-73%);
  }
}

@media screen and (max-width: 479px) {
  .gallery {
    transform: scale(0.7) translateX(-73%);
  }
}
/* <--------------------- MEDIA QUERIES END --------------------> */